@model SecretariaViewModel

@{
    ViewBag.Title = "Secretaria";
    Layout = "~/Views/_Layout.cshtml";
    var selected = Model.SecretariaSelecionada;
    int idSecrAssoc = Model.SecretariaAssociada != null ? Model.SecretariaAssociada.Id : 0;
}
<hr />
<div class="secretary-selection-page" ng-app="secretary-selection.module" ng-controller="SecretarySelectionController as ctlr">
    <div class="col-md-6 pull-left">
        @if (selected != null)
        {
            <div class="row secretary-profile">
                <div class="secretary-info">
                    <div class="col-md-12"><img src="@selected.Foto" alt="@selected.Nome" class="img-circle" /></div>
                    <div class="col-md-12">
                        <h2>@selected.Nome</h2>
                        <h4>@selected.Telefone</h4>
                        <h4>@selected.Email</h4>
                        @if (selected.Id == idSecrAssoc)
                        {
                            <span class="warning"><strong>@selected.Nome</strong> já está associada a sua conta.</span>
                        }
                    </div>
                </div>


                @if (selected.Id != idSecrAssoc)
                {
                    <form action="/agenda/@Model.IdAgenda/secretaria/associar/@selected.Id" method="post">
                        <button type="submit" class="btn btn-lg btn-primary">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Associar essa secretária
                        </button>
                    </form>
                }
                else
                {
                    <form action="/agenda/@Model.IdAgenda/secretaria/desassociar" method="post">
                        <button type="submit" class="btn btn-lg btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Desassociar essa secretária
                        </button>
                    </form>

                }



            </div>
        }
        else
        {
            <div class="no-content">
                <p>
                    Associe uma secretária a sua conta
                </p>
            </div>
        }
    </div>
    <div class="col-md-6 pull-right">
        <div class="secretary-list">
            <ul class="list-group">
                @foreach (var secr in Model.Secretarias)
                {
                    if (selected != null && selected.Id == secr.Id)
                    {
                        <li class="list-group-item row secretary-selected">
                            <div class="pull-left">
                                <img src="@secr.Foto" alt="@secr.Nome" class="img-circle" />
                            </div>
                            <div class="pull-left">
                                <h2>@secr.Nome</h2>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item row">
                            <a href="/Agenda/@Model.IdAgenda/Secretaria/@secr.Id">
                                <div class="pull-left">
                                    <img src="@secr.Foto" alt="@secr.Nome" class="img-circle" />
                                </div>
                                <div class="pull-left">
                                    <h2>@secr.Nome</h2>
                                </div>
                            </a>
                        </li>
                    }
                }
            </ul>

        </div>

    </div>
</div>